<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      Startup Organizer
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <!--[if IE]><script
      source="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
  </head>

  <body>

    <div><!-- container -->
      <header>
        <h1>Startup Organizer</h1>
      </header>
      <main>
        {% block content %}
        This is default content
        {% endblock %}
      </main>
    </div><!-- container -->

    <footer>
    </footer>

  </body>

  </html>
